body {
    background-color: #141414;
    font-family: 'Open Sans';
    color: white;
    margin: 30px;
}
h1, h2 {font-weight: normal;}
#logo {
        font-family: Kanit;
        font-size: 0.7vw;
        line-height: 18px;
}
#table {
    padding: 10px 50px;
    td {
        border: 1px solid white;
        border-radius: 10px;
        width: 30%;
        height: 100px;
    }
    h2 {
        padding: 5px 20px;
    }
    p {
        padding: 5px 30px;
    }
}

.imgs {
    width: 90%;
    padding: 10px 30px;
}